.comment {
    border-top: solid 1px black;
    padding-block: 1rem;
    display: flex;
}

.comment_buttons {
    display: flex;
    flex-direction: column;
}

.comment_text_info_wrapper {
    width: 100%;
}

.comment_text_info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.comment_user_preview_wrapper {
    align-self: end;
}

.comment_edit_form {
    padding: 1.5rem;
    border: solid 2px hsl(210,77%,46%);
    border-radius: 10px;
    width: 100%
}

.comment_edit_form textarea {
    width: 100%;
    height: 25ch;
    resize: block;
    min-height: 10ch;
    font-size: 1.1rem;
    border-radius: .25rem;
}

.comment_edit_form_buttons {
    display: flex;
    gap: 2.5rem;
    justify-content: start;
}